{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'nowy.css' %}">
</head>
<body>
    {% if user.is_authenticated  %}
        Witaj {{ user.username }}<br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Rejestracja</a>
    {% endif %}
    <hr>

    {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
    {% else %}
    <h2>Ilość filmów w BD: {{ filmy|length }}</h2>
    <a href="{% url 'nowy_film' %}">Nowy film</a>

        {% for film in filmy %}
            <h3>{{ film }}</h3>
            <p>{{ film.opis }} </p>
            <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
            <a href="{% url 'usun_film' film.id %}">Usun</a>


        {% endfor %}
    {% endif %}

</body>
</html>