{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %} Film form {% endblock %}

{% block strona %}
    <style>
        .custom-card {
            margin-bottom: 20px;
        }
    </style>

    <div class="row">
        {% if czy_nowy %}
            <div class="card" style="width: 42rem;">
                <div class="card-body">
                    <h5 class="card-title">Dodaj film</h5>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {{ form_extra|bootstrap }}

                        <div style="margin-top: 10px;">
                            <button type="submit" class="btn btn-success">Dodaj film <i class="fa-solid fa-plus"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="col-lg-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">{% if czy_nowy %}Dodaj film{% else %}Edytuj film{% endif %}</h5>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            {{ form_extra|bootstrap }}

                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-success">
                                    {% if czy_nowy %}Dodaj film{% else %}Zapisz zmiany{% endif %}
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Oceń film</h5>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form_ocena|bootstrap }}

                            <div style="margin-top: 10px;">
                                <button type="submit" class="btn btn-success">Zapisz recenzje <i class="fa-solid fa-pen-to-square"></i></button>

                                {% for ocena in oceny %}
                                    <h4> Gwiazdki: {{ ocena.gwiazdki }}/5 </h4>
                                    <p> Recenzja: {{ ocena.recenzja }}</p>
                                {% endfor %}

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    <a href="{% url 'wszystkie_filmy' %}">Cofnij</a>
    </div>

{% endblock %}
