{% extends 'glowny.html' %}

{% block tytul %}Lista filmów{% endblock %}

{% block strona %}
    <div class="jumbotron">
        {% if user.is_authenticated  %}
    <h1 class="display-4">
        Witaj {{ user.username }}</h1>

        <a href="{% url 'logout' %}" class="btn btn-primary">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">login <i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="{% url 'register' %}" class="btn btn-primary">rejestracja <i class="fa-solid fa-user"></i></a>
    {% endif %}
    </div>

    {% if filmy|length == 0 %}
        <h2>Brak filmów</h2>
    {% else %}
         <h2>Ilość filmów w BD: {{ filmy|length }}</h2>
        <a href="{% url 'nowy_film' %}" class="btn btn-success">Nowy film <i class="fa-solid fa-plus"></i> </a>
        <div style="margin-top: 10px;">
        {% for film in filmy %}
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <img src="/media/{{ film.plakat }}" class="film_plakat">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">{{ film }}</h5>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'edytuj_film' film.id %}"><i class="fa-solid fa-pen-to-square film_icon"></i></a>
                            <a href="{% url 'usun_film' film.id %}"><i class="fa-solid fa-trash film_icon"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <p class="card-text">{{ film.opis }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}
