{% extends 'glowny.html' %}

{% block tytul %} Potwiedź {% endblock %}

{% block strona %}

   <div class="card" style="width: 50rem;">
       <div class="card-body">
           <h2 class="card-title">Czy na pewno chcesz usunac"{{ film.tytul }}"</h2><form method="post">
        {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usuń film <i class="fa-solid fa-trash"></i></button>
            <a href="{% url 'wszystkie_filmy' %}">Cofnij</a>
        </form>
       </div>
   </div>

{% endblock %}